@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800;900&display=swap");
* {
	color: white;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--green-color: #88e900;
}

body {
	overflow-x: hidden;
	background: #100420;
	margin: 0;
}

.senthead {
	backdrop-filter: blur(15px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.14);
	position: fixed;
	height: 4em;
	z-index: 3;
	/* width: 100%; */
}

.smaller {
	height: 7em;
}

header {
	padding-top: 0.8rem;
	display: flex;
	flex-wrap: wrap;
	width: 375px;
	flex-direction: row;
	justify-content: space-between; /* will change to space-around when doing media queries for laptop view */
	align-items: center;
	font-family: "Inter";
}

.logo {
	display: block;
}
.logo img {
	width: 150px;
	/* min-width: 200px; */
	padding-left: 1rem;
}

.head-button {
	/* margin-right: -16em; */
	padding-right: 1em;
}

.head-button button {
	font-size: 11.4px;
	background-color: transparent;
	border: 1px solid var(--green-color);
	border-radius: 15px;
	width: 96px;
	height: 37.88px;
}

#backlight-1 {
	background: #5822f4;
	display: block;
	position: absolute;
	width: 300px;
	z-index: -1;
	top: -2%;
	height: 300px;
	opacity: 0.2;
	filter: blur(70px);
}

#backlight-2 {
	background: #5822f4;
	display: block;
	position: absolute;
	width: 300px;
	z-index: -1;
	height: 300px;
	opacity: 0.2;
	filter: blur(90px);
}

#backlight-3,
#backlight-4 {
	background: #5822f4;
	display: block;
	position: absolute;
	width: 300px;
	z-index: -1;
	/* bottom: -5%; */
	height: 500px;
	opacity: 0.2;
	filter: blur(220px);
}

.purple-icon img {
	width: 90px;
	top: 4em;
	position: relative;
	left: -1em;
	animation: bounce 9s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-19px);
	}
}

.purple-icon {
	z-index: 1;
	margin-left: 2em;
}

img.line {
	padding-bottom: 29px;
	width: 40px;
	margin-left: -4em;
}

main {
	display: block;
	padding-top: 1em;
}

.main-text {
	/* width: 23rem; */
	position: relative;
	font-family: "Inter";
	font-size: 1.1em;
	font-weight: 900;
	line-height: 30px;
	letter-spacing: 0.02em;
	/* text-align: left; */
	margin: 0 auto;
	padding: 1em;
}
h1.bold-text {
	font-weight: 900;
}

/* transform: rotate(9.39deg); */
#section-1 {
	margin-top: 2em;
}

.hero-bg {
	position: absolute;
	height: 100%;
	background-image: url(images/dots.png);
	background-size: cover;
	background-repeat: repeat-x;
	background-position: -400px 200px;
	animation: 10s linear 0s infinite normal none running sliding;
}
.gradient-text {
	background: -webkit-linear-gradient(#ebdbff, #8833f4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.green-text {
	color: var(--green-color);
}

.info-text {
	padding-top: 2em;
	font-family: Inter;
	font-size: 12px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	/* width: 86%; */
	display: block;
	margin: 0 auto;
}

.main-button {
	padding-top: 2em;
	display: flex;
	justify-content: center;
}

.main-button button {
	border-radius: 12px;
}

.main-button button.launch {
	font-weight: 700 !important;
	background-color: var(--green-color);
	color: black;
}

.docs {
	font-weight: 700 !important;
	margin-left: 1em;
	position: relative;
}
button {
	font-size: 11.4px;
	background-color: transparent;
	border: 1px solid var(--green-color);
	border-radius: 15px;
	width: 96px;
	height: 37.88px;
}

.hero-orange {
	position: absolute;
	top: 0em;
	left: 4em;
	z-index: -1;
}

.hero-orange img {
	width: 70px;
	animation: bounce 9s infinite;
}

.hero-3-4 {
	margin-top: 4em;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.hero-buy {
	width: 160px;
	padding-top: 0.6rem;
	margin-left: -0.9rem;
	max-width: 200px;
}

.hero-sell {
	width: 148px;
	padding-top: 7px;
	max-width: 200px;
}

.hero-line {
	width: 40px;
}

.section-2::before,
.section-2::after {
	content: "";
	position: absolute;
	margin-top: 3em;
	width: 20%;
	height: 20%;
	border: 2px solid #a45dff;
}

.section-2::before {
	right: 0;
	left: 3%;
	border-right: none;
	border-bottom: none;
}

.section-2::after {
	right: 3%;
	border-left: none;
	border-top: none;
	bottom: -2.4em;
}

.section-2 {
	position: relative;
}
.section-2 .features {
	font-family: "Inter";
	margin-left: 1.5em;
	text-align: left;
	display: grid;
	/* flex-direction: column; */
	align-items: center;
	gap: 50px;
	justify-content: start;
}

.features h4 {
	font-size: 1.15rem;
	text-align: left;
}

.features img {
	width: 100px;
	display: block;
	margin-top: 1em;
	margin-bottom: -0.5em;
}

.features p {
	color: #ffffffa6;
	font-size: 0.9rem;
	font-weight: 500;
	/* max-width: 340px; */
	margin-top: -2em;
}

.features .p2p {
	width: 89%;
}

.features .rug {
	width: 96%;
}

.features .holders {
	width: 94%;
}

img.commerce,
img.nft,
img.smart,
img.exchange {
	max-width: 100%;
	width: 95%;
	display: flex;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
}

.p2p-loans,
.nft-insur,
.smart,
.commerce,
.exchange {
	padding: 1em;
	font-size: 1em;
	max-width: 760px;
	font-family: "Inter";
}

.p2p-loans span,
.nft-insur span,
.smart span,
.commerce span,
.exchange span {
	color: var(--green-color);
}

.p2p-loans b,
.nft-insur b,
.smart b,
.commerce b,
.exchange b {
	font-weight: 900;
	padding-bottom: 0.2rem;
	line-height: 2em;
	font-size: 1.6em;
	word-spacing: 10px;
	border-bottom: 5px solid #88e900;
	max-width: 760px;
}

.p2p-info,
.nft-info,
.smart-info p,
.commerce-info,
.exchange-info {
	padding-top: 1em;
	display: flex;
	max-width: 650px;
	/* justify-content: center; */
	align-items: center;
	line-height: 1.5em;
}

.p2 {
	padding: 1em 0em;
	font-size: 1.3em;
}

.check ul {
	list-style: none;
}
.check ul li {
	display: flex;
	padding-top: 1em;
	max-width: 650px;
}
.check ul li img {
	padding-right: 1em;
}
.check ul li p {
	margin-top: 5px;
}
.p2p-loans button,
.nft-insur button,
.smart button {
	border-radius: 20px;
	margin-top: 5em;
	color: black;
	width: 140px;
	height: 50px;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	background-color: var(--green-color);
}

.button {
	display: flex;
	justify-content: center;
}

hr.section-line {
	width: 100%;
	margin: 0.75rem auto;
	border: none;
	border-bottom: 1px solid #ffffff24;
}

.card {
	display: block;
	margin: 0 auto;
	max-width: 650px;
	/* width: 100%; */
	margin-top: 4em;
	font-family: "Inter";
}

.card-body {
	height: 25em;
	padding: 0 2em;
	padding-top: 2em;
	background-color: #6923ff;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.card-title p {
	color: var(--green-color);
	font-weight: 700;
}

.card-text .p1 {
	font-weight: 900;
	font-size: 1.7rem;
	line-height: 1.5em;
	margin-top: 1em;
}

.card-text .p3 {
	font-size: 0.9rem;
	margin-top: 1em;
	line-height: 1.5em;
	font-weight: 500;
}

.card-button button {
	border-radius: 17px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	color: black;
	width: 120px;
	height: 47px;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	text-align: center;
	background-color: var(--green-color);
}

@media (min-width: 750px) {
	html {
		font-size: 1.4em;
	}
	button {
		font-size: 14px;
		background-color: transparent;
		border: 1px solid var(--green-color);
		border-radius: 15px;
		width: 8rem;
		height: 55px;
	}
	header {
		width: 768px;
	}

	.senthead {
		height: 3.8em;
	}

	section {
		width: 768px;
	}
	.logo {
		display: block;
	}
	.logo img {
		width: 180px;
		padding-left: 1rem;
	}

	.head-button {
		padding-right: 1em;
	}
	.head-button button {
		font-size: 14px;
		width: 7rem;
		height: 50px;
	}
	.main-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 700px;
		line-height: 2rem;
		margin-top:0.2em;
	}
	h1.bold-text {
		text-align: center;
	}
	.info-text {
		text-align: center;
		width: 420px;
	}
	
	.purple-icon .purple {
		width: 120px;
		margin-left: 2.5em;
		margin-top: -2em;
	}
	
	.purple-icon .line {
		width: 75px;
		margin-left: -5em;
	}

	.hero-orange img {
		width: 90px;
		margin-left: 3.3em;
	}
}
